
@{
    ViewBag.Title = "Index";
}

<h2>Welcome To Admin Portal</h2>
<br/>
<ul class="nav nav-pills">
    <li class="nav-item">
        <a class="nav-link active" href="#">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Users</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Notification</a>
    </li>
    <li class="nav-item">
        <a class="nav-link disabled" href="#">About</a>
    </li>
</ul>
<br />

<table class="table table-bordered table-responsive table-hover table-striped">
    <tr>
        <th>Email </th>
        <th>Password </th>
        <th>Role </th>
        
    </tr>
     <tr>
            <td>vai@gmail.com</td>
            <td>Vai@123</td>
            <td>User</td>
        </tr>
    <tr>
        <td>alpit@gmail.com</td>
        <td>Alpit@123</td>
        <td>User</td>
    </tr>
    <tr>
        <td>suraj@gmail.com</td>
        <td>Suraj@123</td>
        <td>User</td>
    </tr>

</table>
  
